#post-data {
  width: 95%;
  margin: auto;
  max-width: 800px;
  display: none;
  @media screen and (min-width: 500px) {
    width: 80%;
  }
}
.contenedor_acordion {
  display: none;
}
.contenedor_acordion_titulo {
  font-weight: 700;
  text-align: center;
  text-decoration: underline;
}
.accordion-body * {
  font-family: var(--font-lato);
  font-size: 0.8rem;
  @media screen and (min-width: 500px) {
    font-size: 1rem;
  }
}
.accordion-body h2 {
  font-weight: 700;
}
